#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.date-fetch-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.date-fetch-wrapper button {
  margin-left: 16px;
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chart-wrapper>div {
  margin: 32px 0;
}

.line-chart-wrapper {
  width: 80vw;
  position: relative;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
  color: #fff;
  border: 1px solid #444;
}

th,
td {
  border: 1px solid #444;
  padding: 8px;
  text-align: left;
  background-color: #222;
}

th {
  background-color: #333;
}

tr:nth-child(even) {
  background-color: #1a1a1a;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.pagination button {
  border: none;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
  background-color: #333;
}

.pagination button:hover {
  background-color: #444;
}

.pagination button.active {
  background-color: #555;
  color: #ddd;
}

.pagination button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #222;
  color: #666;
}

.pagination span {
  padding: 8px 16px;
  color: #aaa;
}

/* Tooltip styling */
.pagination button[title]:hover:after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
}

.error-message {
  color: red;
  margin: 10px 0;
}

.mobile-hidden {
  display: none;
}

@media (max-width: 767px) {
  #root {
    width: 100%;
    padding: 0 16px;
  }

  .line-chart-wrapper {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .pagination {
    width: 100%;
    display: block;
  }

  .mobile-hidden {
    display: initial;
  }
}
